.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

.swiper-pagination-bullet {
  background: #525260;
  height: 8px;
  width: 8px;
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: unset;
}

.swiper-pagination-bullet-active {
  background: white;
}

.container .swiper-button-next,
.container .swiper-button-prev {
  opacity: 0;
}

.container:hover .swiper-button-next,
.container:hover .swiper-button-prev {
  opacity: 1;
}
